<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="static/css/adminViewFeedback.css"> 
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <div class="user-info">
            <a href="{{url_for('adminDashboard')}}">Back</a>
            <a href="{{url_for('logout')}}">Logout</a>
        </div>
    </header>

        <main class="content">
        <h2>Feedbacks Received</h2>
        <ul id="feedback-items">
            <li>
                {% for items in feedback %}
                <h4>Title: {{items[1]}}</h4>
                <h4>Content: {{items[2]}} </h4>
                <form method="POST" action=/deleteFeedback onsubmit="return confirm('Are you sure you wish to delete this feedback?');">
                <h4><button type="submit" name="deleteFeedback" value="{{items[0]}}">Delete</button></h4>
                </form>
            </li>
            {% endfor %}
        </ul>
        </main>
    

    <footer>
        <p>Admin Dashboard © 2024</p>
    </footer>

    <script>
        function searchUser() {
            const searchValue = document.getElementById('search-bar').value;
        }

    </script>
</body>
{% endblock %}
</html>